<div class="ppa-pages">{{#pages}}
        <div class="ppa-page{{#active}} ppa-active{{/active}}" data-page-type="{{ data.page.type }}" data-page-id="{{ data.page.id }}" title="{{ data.page.type }}-page">{{ data.page.id }}</div>
    {{/pages}}</div>
